<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Golang sample web app</title>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	<script src="/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/uikit.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="uk-container uk-container-center uk-margin-top">
		<h1>Golang sample web app</h1>
		<div class="row">
			<h2> {{ name }} </h2>
			<p> {{ description }} </p>
		</div>
	</div>
</body>
</html>